﻿@model HuoYunWeb.Models.Admin

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form method="POST" action="/Home/WebLogin/">
            <input type="text" name="Account" value="@Model.Account" />
            <input type="password" name="Passwords" value="@Model.Password" />
            <input type="submit" value="登陆" />
            <span style="color: red">@ViewBag.ErrorMessage</span>
        </form>
    </div>
</body>
</html>
