﻿@using HuoYunBLL
@*@model ListPageModel<MvcApplication1.Models.S_Material>*@
@{
    Layout = null;
    //    ViewBag.HiddenAdd
    //    ViewBag.AddPara

    if (Request.IsSelect())
    {
        ViewBag.HiddenBar = true;
    }
    else
    {
        ViewBag.HiddenBar = false;
    }
}



@*</form>*@

<div class="pageHeader">
    <form id="pagerForm" onsubmit="return dwzSearch(this,'dialog');" method="post" action="~/@ViewContext.GetControllerAndAction()/?Select=@Request["Select"]&Dialog=dialog">
        @*<form id="pagerForm" method="post" action="~/Material">*@
        <input type="hidden" name="status" value="${param.status}">
        <input type="hidden" name="keywords" value="@Request["keyword"]" />
        <input type="hidden" name="pageNum" value="@Model.Page.PageIndex" />
        <input type="hidden" name="numPerPage" value="@Model.Page.PageSize" />
        <input type="hidden" name="orderField" value="@Request["orderField"]" />
        @*        <input type="hidden" name="foodid" value="@Request["foodid"]" />*@
        @RenderSection("pageFormItems", false)
        @*    <form onsubmit="return dwzSearch(this,'@Request["Dialog"]');" action="~/@ViewContext.RouteData.GetController()/?Select=@Request["Select"]&Dialog=@Request["Dialog"]" method="post">*@
        <div class="searchBar">
            @RenderSection("listSearch", false)
            <div class="subBar">
                <ul>
                    <li><div class="buttonActive"><div class="buttonContent"><button type="submit">检索</button></div></div></li>
                    @if (Request.IsMultiSelect())
                    {
                        <li><div class="button"><div class="buttonContent"><button type="button" multlookup="orgId" warn="请选择">选择带回</button></div></div></li>
                    }
                    @*                    <li><a class="button" href="demo_page6.html" target="dialog" mask="true" title="查询框"><span>高级检索</span></a></li>*@
                </ul>
            </div>
        </div>
    </form>
</div>

<div class="pageContent">
    @if (!@ViewBag.HiddenBar)
    {
        <div class="panelBar">
            <ul class="toolBar">
                @*            <li><a class="add" href="~/Material/Create" target="navTab"><span>添加</span></a></li>*@
                @if (ViewBag.HiddenAdd == null)
                {
                    <li><a class="add" href="~/@ViewContext.RouteData.GetController()/Create?@ViewBag.AddPara" target="dialog" mask="false" rel="aa1" title="添加"><span>添加</span></a></li>
                }

                @if (ViewBag.HiddenDel == null)
                {
                    <li><a class="delete" href="~/@ViewContext.RouteData.GetController()/Delete/{sid_user}" target="ajaxTodo" title="确定要删除吗?"><span>删除</span></a></li>
                }
                @if (ViewBag.HiddenEdit == null)
                {
                    <li><a class="edit" href="~/@ViewContext.RouteData.GetController()/Create/{sid_user}" target="dialog" mask="false" rel="aa" title="修改"><span>修改</span></a></li>
                }
                @RenderSection("toolBar", false)
                <li class="line">line</li>
                @*            <li><a class="icon" href="demo/common/dwz-team.xls" target="dwzExport" targettype="navTab" title="实要导出这些记录吗?"><span>导出EXCEL</span></a></li>*@
            </ul>
        </div>
    }
    <table class="table" width="100%" layouth="148" targettype="@Request["Dialog"]">
        @RenderSection("pageContent", true)
    </table>
    @*    @Model.Page.GetPageHtml()*@
    <div class="panelBar">
        <div class="pages">
            <span>显示</span>
            <select class="combox" name="numPerPage" onchange="navTabPageBreak({numPerPage:this.value})">
                <option value="1" selected="@Request["numPerPage"].FixEquals("1")">1</option>
                <option value="20" selected="@Request["numPerPage"].FixEquals("20")">20</option>
                <option value="50" selected="@Request["numPerPage"].FixEquals("50")">50</option>
                <option value="100" selected="@Request["numPerPage"].FixEquals("100")">100</option>
                <option value="200" selected="@Request["numPerPage"].FixEquals("200")">200</option>
            </select>
            <span>条，共 @Model.Page.TotalRecord 条记录</span>
        </div>

        <div class="pagination" targettype="dialog" totalcount="@Model.Page.TotalRecord" numperpage="@Model.Page.PageSize" pagenumshown="10" currentpage="@Model.Page.PageIndex"></div>
    </div>
</div>