﻿@using HuoYunBLL
@{
    Layout = null;
    string action = (string)ViewContext.ViewData["Action"];
    if (action == null) { action = ViewContext.GetAction(); }
}

<div class="pageContent">
    <form method="post" action="~/@ViewContext.GetController()/@action" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
        <input name="ID" type="hidden" size="30" value="@Model.ID" />
        <input name="edit" type="hidden" size="30" value="@Request["edit"]" />
        @RenderBody()
        @RenderSection("editContent", false)
        <div class="formBar">
            <ul>
                <!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                <li>
                    <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
                </li>
            </ul>
        </div>
    </form>
</div>


