﻿@using HuoYunBLL
@{
    Layout = null;
    string action = (string)ViewContext.ViewData["Action"];
    if (action == null) { action = ViewContext.GetAction(); }
}

<div class="pageContent">
    <form method="post" action="~/@ViewContext.GetController()/@action" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
        <input name="ID" type="hidden" size="30" value="@Model.ID" />
        <input name="edit" type="hidden" size="30" value="@Request["edit"]" />
        @RenderBody()
        @RenderSection("editContent", false)
    </form>
</div>


