﻿@using System.Web.WebPages.Html
@using HuoYunBLL
@using HtmlHelper = System.Web.Mvc.HtmlHelper
@{
    Layout = null;
}



@*返回订单类型*@
@helper getOrderTypeName(int a)
{
    if (a == 0)
    {
        <span>计划订单</span>
    }
    else
    {
        <span>用户订单</span>
    }
}
@*sd*@
@helper getBarDetailButton(string routeName, string routeNameID,string tooltip,string buttonText,string width="800",string height="700")
{
    <li><a class="edit" href="~/@routeName/?@routeNameID={sid_user}" width="@width" height="@height" rel="@routeName" target="navTab" mask="true" title="@tooltip"><span>@buttonText</span></a></li>
}
@helper getListDetailButton(string routeName, string routeNameID,object id, string tooltip, string buttonText, string width = "800", string height = "700")
{
    <li><a class="edit" href="~/@routeName/?@routeNameID=@id" width="@width" height="@height" rel="@routeName" target="navTab" mask="true" title="@tooltip"><span>@buttonText</span></a></li>
}
@*返回列表中的选择区域*@
@helper getListHeaderSelector()
{
    if (Request.IsSingleSelect())
    {
        <th>
            选择
        </th>
    }
    if (Request.IsMultiSelect())
    {
        <th width="30"><input type="checkbox" class="checkboxCtrl" group="orgId" /></th>
    }
}
    @*返回列表中的选择区域*@
@helper getListSelector(object id,object name)
{
    if (Request.IsSingleSelect())
    {
        <td>
            <a class="btnSelect" href="javascript:$.bringBack({ID:'@id', Name:'@name'})" title="选择 @name">选择</a>
        </td>
    }
    if (Request.IsMultiSelect())
    {
        <td><input type="checkbox" name="orgId" value="{ID:'@id', Name:'@name'}" /></td>
    }
}
@*返回一个列头*@
@helper getListHeaderColumn(string displayName,string code,int width = -1)
{
    string d = "width=\"" + width + "\"";
        if (width == -1)
        {
            d = "";
        }
        <th @d.Raw() orderfield="@Request.GetOrderField(code)" class="@Request.GetOrderFieldClass(code)">@displayName</th>
}