﻿@{
    ViewBag.Title = "添加订单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/jquery.autocomplete.js" type="text/javascript"></script>
<link href="~/js/jquery.autocomplete.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript">
    $(function () {
        $("#checkUser").click(function () {
            if ($("#phoneNumber").val() == null || $("#phoneNumber").val() == undefined || $("#phoneNumber").val() == '') {
                alert("请输入手机号码");
                return false;
            }
            if ($("#userName").val() == null || $("#userName").val() == undefined || $("#userName").val() == '') {
                alert("请输入客户姓名");
                return false;
            }
            var varDefaultAdd = 0;
            if ($("#defaultAdd").is(':checked')) varDefaultAdd = 1;
            $.ajax({
                dataType:"json",
                url: "/Customer/CheckCustomer",
                data: { phoneNumber: $("#phoneNumber").val(), userName: $("#userName").val(), userSex: $("#userSex").val(), defaultAdd: varDefaultAdd },
                cache: false,
                success: function (data, textStatus) {
                    if (data.Success == true) {
                        $("#checkUserForm").hide();
                        $("#addOrderForm").show();
                    }
                    else
                    {
                        alert(data.ErrorMessage);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("抱歉，检查用户出现错误");
                }
            });
            return false;
        });

        $('#end').change(function () {
        	LoadDrivers($(this).children('option:selected').val());
        });

    	$("#start").autocomplete("/Customer/RequestRoute2",
			   {
			   	minChars: 1,
			   	width: 260,
			   	dataType: "json",
			   	autoFill: false,
			   	matchContains: true,
			   	parse: function (data) {
			   		return $.map(eval(data),
					function (row) {
						return {
							data: row,
							value: row.Start,
							result: row.Start
						}
					}
					);
			   	},
			   	formatItem: function (row, i, max) {
			   		return row.Start;
			   	}
			   }
			).result(function (event, item) {
				$("#starthidden").val(item.Start);
				LoadRouteEnd(item.Start);
			});

        $("#isMianyi").click(function () {
            if ($("#isMianyi").is(':checked')) {
                $('#goodsPrice').attr("readonly","readonly");
            }
            else {
                $('#goodsPrice').val("");
                $('#goodsPrice').removeAttr("readonly");

            }
        });
        $("#submitOrder").click(function () {

        	if ($("#start").val() == '' || $("#starthidden").val() == '') {
                alert("请选择起始地");
                return false;
        	}
        	if ($("#end").val() == null || $("#end").val() == '') {
        		alert("请选择目的地");
        		return false;
        	}
            if ($("#goodsName").val() == null || $("#goodsName").val() == undefined || $("#goodsName").val() == '') {
                alert("请输入货物名称");
                return false;
            }
            if ($("#sendDate").val() == null || $("#sendDate").val() == undefined || $("#sendDate").val() == '') {
                alert("请输入发货时间");
                return false;
            }
            var varDefaultMianyi = 0;
            if (!$("#isMianyi").is(':checked')) {
                if ($("#goodsPrice").val() == null || $("#goodsPrice").val() == undefined || $("#goodsPrice").val() == '') {
                    alert("请输入期望成交价格");
                    return false;
                }
                if (isNaN($("#goodsPrice").val())) {
                    alert("请输入数字");
                    return false;
                }
            }
            if ($("#defaultComplete").is(":checked")) {
            	if ($("#driver").val() == null || $("#driver").val() == undefined || $("#driver").val() == '') {
                    alert("默认完成订单，必须指定车主");
                    return false;
                }
            }
            var defaultComplete=0;
            if($("#defaultComplete").is(":checked"))defaultComplete=1;
            if ($("#isMianyi").is(':checked')) varDefaultMianyi = 1;
            $.ajax({
                dataType: "json",
                url: "/Customer/ServerAddOrder",
                data: {
                	phoneNumber: $("#phoneNumber").val(), routeId: $("#end").val(),
                	goodsName: $("#goodsName").val(), sendDate: $("#sendDate").val(), isMianyi: varDefaultMianyi,
                	defaultComplete: defaultComplete, goodsDriverId: $("#driver").val() == null ? '' : $("#driver").val(),
                	goodsMemo: $("#goodsMemo").val(), goodsPrice: $("#goodsPrice").val(), orderFrom: $("#orderFrom").val()
                },
                cache: false,
                success: function (data, textStatus) {
                    if (data.Success == true) {
                        initFormData();
                        $("#checkUserForm").show();
                        $("#addOrderForm").hide();
                        alert("添加订单成功");
                    }
                    else {
                        alert(data.ErrorMessage);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("抱歉，未能成功添加订单");
                }
            });
            return false;
        });
    });
    function LoadRouteEnd(start)
    {
    	var end = $("#end");
    	end.empty();
    	if (start != '')
    	{
    		$.ajax({
    			dataType: "json",
    			url: "/Customer/GetEndRouteByStart",
    			data: {
    				start: start
    			},
    			cache: false,
    			success: function (data, textStatus) {
    				if (data.Success == true) {
    					$.each($.parseJSON(data.ResultData), function (i, item) {
    						var option = "<option value='" + item.Id + "'>" + item.End + "</option>"
    						end.append(option);
    					});
    				}
    			},
    			error: function (XMLHttpRequest, textStatus, errorThrown) {

    			}
    		});
    	}
    }
    function LoadDrivers(routeId)
    {
    	var driver = $("#driver");
    	driver.empty();
    	if (routeId != '')
    	{
    		$.ajax({
    			dataType: "json",
    			url: "/Customer/GetDriverByRouteId",
    			data: {
    			    RouteId:routeId
    			},
    			cache: false,
    			success: function (data, textStatus) {
    				if (data.Success == true) {
    					$.each($.parseJSON(data.ResultData), function (i, item) {
    						var option = "<option value='" + item.Id + "'>" + item.Name + ' ' + item.Phone + "</option>"
    						driver.append(option);
    					});
    				}
    			},
    			error: function (XMLHttpRequest, textStatus, errorThrown) {
    				
    			}
    		});
        }
    }

    function initFormData() {
        $("#phoneNumber").val("");
        $("#userName").val("");
        $("#sendDate").val("");
        $("#routeName").val("");
        $("#start").val("");
        $("#starthidden").val("");
        $("#goodsPrice").val("");
        $("#goodsMemo").val("");
        $("#goodsName").val("");
    }

    function LostFocus(obj, id) {
    	if ($("#" + id).val() == '') {
    		$(obj).val('');
    	}
    }
    
</script>
<div class="pageContent">
    <form class="pageForm" id="checkUserForm">
        <div class="pageFormContent" layouth="56">
            <p>
                <label>客 户 电话：</label>
                <input name="phoneNumber" id="phoneNumber" type="text" size="30" />
            </p>
            <p>
                <label>客户姓名：</label>
                <input name="userName" id="userName" type="text" size="30" />
            </p>
            <p>
                <label>客户性别：</label>
                <select name="userSex" id="userSex">
                    <option value="1" selected>男</option>
                    <option value="2">女</option>
                </select>
            </p>
            <p>
                <label>若客户不存在，默认添加</label>
                <span><input id="defaultAdd" name="defaultAdd" type="checkbox" checked="checked">是</span>
            </p>
        </div>
        <div class="formBar">
            <ul>
                <!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit" id="checkUser" width="120px">下一步</button></div></div></li>
            </ul>
        </div>
    </form>
    <form style="display:none;" class="pageForm required-validate" id="addOrderForm">
        <div class="pageFormContent" layouth="56">
			@*<p>
				<label>线路：</label>
				<input name="routeName" id="routeName" type="text" size="30" class="required" />
				<input name="routeId" id="routeId" type="hidden" />
			</p>*@
            @*<p>
                <label>始发地：</label>
                <input name="startAddress" id="startAddress" type="text" size="30" class="required"/>
                <input name="startCity" id="startCity" type="hidden" />
            </p>*@
            @*<p>
                <label>目的地：</label>
                <input name="endAddress" id="endAddress" type="text" size="30" class="required"/>
                <input name="endCity" id="endCity" type="hidden" />
            </p>*@
			<p>
				<label>始发地：</label>
				<input name="start" id="start" onblur="LostFocus(this, 'starthidden')" type="text" size="30" class="required" />
				<input name="starthidden" id="starthidden" type="hidden" />
                <input name="orderFrom" id="orderFrom" type="hidden" value="3" />
			</p>
             <p>
			 	<label>目的地：</label>
			 	<select id="end" name="end" style="width:200px"></select>
			</p>
            <p>
                <label>货物名称：</label>
                <input name="goodsName" id="goodsName" type="text" size="30" class="required"/>
            </p>
            <p>
                <label>发货时间：</label>
                <input name="sendDate" minDate="%y-%M-%d" id="sendDate" type="text" size="30" class="required date"/><a class="inputDateButton" href="javascript:;">选择</a>
            </p>
            <p>
                <label>成交价格：</label>
                <input name="goodsPrice" id="goodsPrice" type="text" size="30" readonly="readonly"/>
                <span><input type="checkbox" checked="checked" id="isMianyi" name="isMianyi" />面议</span>
            </p>
            <p>
                <label>默认完成订单：</label>
                <span><input type="checkbox"  id="defaultComplete" name="defaultComplete" />是</span>
            </p>
            <p>
                <label>所选车主：</label>
				<select id="driver" name="driver" style="width:200px" ></select>
                @*<input name="obj.driverID" id="goodsDriverId" value="" type="hidden"/>
				<input name="obj.driverName" type="text" id="goodsDriverName" suggestFields="driverID,driverName,driverPhone" suggestUrl="Valid/SelectDrivers" lookupGroup="obj" lookupPk="driverID"/>
                <a class="btnLook" href="Valid/SelectDrivers" lookupgroup="obj" lookuppk="driverID">选择车主</a>*@
            </p>
            <p>
                <label>备注：</label>
                <textarea name="goodsMemo" id="goodsMemo" cols="30" rows="4" ></textarea>
                
            </p>

        </div>
        <div class="formBar">
            <ul>
                <!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit" id="submitOrder" width="120px">提交订单</button></div></div></li>
            </ul>
        </div>
    </form>
</div>
