﻿@using HuoYunBLL
@using HuoYunWeb
@model ListPageModel<HuoYunWeb.Controllers.OrderListItem>
@{
    Layout = "~/Views/Shared/_listPageLayout1.cshtml";
    ViewBag.HiddenAdd = true;
    ViewBag.HiddenEdit = true;
    ViewBag.HiddenBar = true;
}

@if (!Request.IsSelect())
{
@*    @section toolBar{*@
@*        <li><a class="edit" href="~/Valid/DriverDetail?DriverID={sid_user}" width="800" height="700" rel="DriverDetail" target="navTab" mask="true" title="详细信息"><span>详细信息</span></a></li>*@
@*    }*@
}
@section listSearch{
    <table class="searchContent">
        <tr>
            <td>
                货主名称：<input type="text" name="UserName" value="@Request["UserName"]" />
            </td>
			<td>
				手机号：<input type="text" name="PhoneNumber" id="PhoneNumber" value="@Request["PhoneNumber"]" />
			</td>
            <td align="right">
                下单方式：
            </td>
            <td>
                <select class="combox" name="orderFrom">
                    <option value="" selected="@string.IsNullOrEmpty(Request["orderFrom"])">所有</option>
                    <option value="1" selected="@Request["orderFrom"].FixEquals("1")">手机下单</option>
                    <option value="2" selected="@Request["orderFrom"].FixEquals("2")">微信下单</option>
                    <option value="3" selected="@Request["orderFrom"].FixEquals("3")">电话下单</option>
                </select>
            </td>
            <td align="right">
                订单发布起始时间：
            </td>
            <td><input readonly="readonly" name="orderStartDate" id="orderStartDate" type="text" datefmt="yyyy-MM-dd HH:mm" size="20" class="date" value="@Request["orderStartDate"]" /></td>
            <td align="right">
                订单发布截止时间：
            </td>
            <td><input readonly="readonly" name="orderEndDate" id="orderEndDate" type="text" datefmt="yyyy-MM-dd HH:mm" size="20" class="date" value="@Request["orderEndDate"]" /></td>
        </tr>
    </table>
}
@section pageContent {
    <thead>
        <tr>
            @CommHelper.getListHeaderSelector()
            <th width="120" orderfield="@Request.GetOrderField("OrderNumber")" class="@Request.GetOrderFieldClass("OrderNumber")">订单号</th>
            <th width="120" orderfield="@Request.GetOrderField("Price")" class="@Request.GetOrderFieldClass("Price")">订单金额</th>
            <th width="120" class="@Request.GetOrderFieldClass("UserName")">货主</th>
            <th width="120" orderfield="@Request.GetOrderField("PublishTime")" class="@Request.GetOrderFieldClass("PublishTime")">发布时间</th>
            <th width="120" orderfield="@Request.GetOrderField("OrderState")" class="@Request.GetOrderFieldClass("OrderState")">状态</th>
            <th width="120" orderfield="@Request.GetOrderField("From")" class="@Request.GetOrderFieldClass("From")">下单方式</th>
            <th width="120" orderfield="" class="">车主</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr target="sid_user" rel="@item.GuestUserID">
                @CommHelper.getListSelector(item.GuestUserID, item.UserName)
               

                <td title="@item.OrderNumber">@item.OrderNumber</td>
                <td >@item.Price.ToString("##.00") 元</td>

                <td title="@item.UserName">@item.UserName (@item.PhoneNumber)</td>
           
                <td title="@item.PublishTime.GetValueOrDefault()">@String.Format("{0:yyyy-MM-dd HH:mm}", @item.PublishTime)</td>

                <td>@item.OrderState.GetOrderStateStr()</td>
                <td>@item.OrderFrom.GetOrderFromStr()</td>
                <td title="@item.Drivers.GetDriverListText1()">@item.Drivers.GetCurrentDriver() (共：@item.Drivers.Count())</td>
                
                    
@*                <td >@if (item.Valid == 1 || item.ValidSubmit == 0)*@
@*                     {*@
@*                        @item.PublishTime.ReadableTimerStr() <span>---</span>*@
@*                     }*@
@*                     else*@
@*                     {*@
@*                         <span title="@item.ValidSubmitDateTime.GetValueOrDefault()">@item.ValidSubmitDateTime.ReadableTimerStr()</span>*@
@*                     }</td>*@
@**@
@*                <td>*@
@*                    @CommHelper.getListDetailButton("Valid/DriverDetail", "DriverID", item.ID, "详细信息.", "查看")*@
@*                </td>*@
            </tr>
        }
    </tbody>
}
