﻿@using HuoYunBLL
@using HuoYunWeb.Models
@using NPOI.SS.Formula.Functions
@model HuoYunWeb.Models.Order
@{
    Layout = "~/Views/Shared/detailLayout.cshtml";
//    Layout = null;
//    throw new Exception((Model==null).ToString());
}
<div class="pageFormContent1" layouth="56">
    <p>
        <span class="label">货主电话：</span>
        <input type="hidden" name="ID" value="@Model.ID" />
        <span  style="font-size: 14px;">
            @Model.GuestUserPhoneNumber
        </span>
    </p>
    <br />
    <br />
    <p>
        <span class="label">货主姓名：</span>
        <span style="font-size: 14px;">
            @ViewBag.customerName
        </span>
    </p>
    <br />
    <br />
   
    <p>
        <span class="label">货物名称：</span>
        <span  style="font-size: 14px;">
            @Model.Lading
        </span>
    </p>
    <br />
    <br />
    <p>
        <span class="label">起始地：</span>
        <span  style="font-size: 14px;">
            @Model.StartName
        </span>
    </p>
    <br />
    <br />
    <p>
        <span class="label">目的地：</span>
        <span  style="font-size: 14px;">
            @Model.EndName
        </span>
    </p>
    <br />
    <br />
    <p>
        <span class="label">发货时间：</span>
        <span  style="font-size: 14px;">
            @Model.OrderSendtime
        </span>
    </p>
    <br />
    <br />
    <p>
        
        <span class="label">成交价格：</span>
        @if (Model.IsMianYi == 1)
        {
            <span  style="font-size: 14px;">
                面议
            </span>
        }
        else{
           <span  style="font-size: 14px;">
                @Model.Price 元
            </span> 
        }
        
    </p>
    <br />
    <br />
    <p>
        
        <span class="label">备注：</span>
       <span  style="font-size: 14px;">
                @Model.OrderRemark
       </span>
        
    </p>
    <br />
    <br />
    <p>
        <span class="label">货物照片：</span>
        @if (Model.OrderImagePath != null&&!Model.OrderImagePath.Equals(""))
        {
            <a href="#" target="_blank">
                <img width="300" height="300" src="@Model.GetImagePath(0)" />
            </a>
        }
        else
        {
            <span style="font-size: 40px">无图片</span>
        }
    
    <p />

    <br/>
    <br/>
    <br/>
   
    <br />
</div>
