﻿@using HuoYunBLL
@using HuoYunWeb.Models
@using NPOI.SS.Formula.Functions
@model HuoYunWeb.Models.Order
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
        var changeOrderState = 1;
        $("#submitData").click(function () {
            if ($("#changeOrderState")) changeOrderState = $("#changeOrderState").val();
            $.ajax({
                dataType: "json",
                type: "post",
                url: "/Order/Edit",
                data: { ID: $("#ID").val(), driverID: $("#goodsDriverId").val(), changeOrderState: changeOrderState },
                cache: false,
                success: function (data, textStatus) {
                    if (data.Success == true) {
                    	alert("修改订单成功");
                    	navTab.reloadFlag("NoResponseList");
                     
                    }
                    else {
                        alert(data.ErrorMessage);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("抱歉，未能成功修改订单");
                }
            });
            return false;
        });
    });
</script>
<div class="pageContent">
    <form class="pageForm" id="checkUserForm">
     <div class="pageFormContent" layouth="56">
    <p>
        <span>货主电话：</span>
        <input type="hidden" name="ID" id="ID" value="@Model.ID" />
        <span  style="font-size: 14px;">
            @Model.GuestUserPhoneNumber
        </span>
    </p>
    <p>
        <span >货主姓名：</span>
        <span style="font-size: 14px;">
            @ViewBag.customerName
        </span>
    </p>
    
        @if(Model.OrderState>=0&&Model.OrderState<=2){
             <p>
            <label>所选车主：</label>
                    <input name="obj.driverID"  id="goodsDriverId" value="@ViewBag.DriverID" type="hidden"/>
				    <input name="obj.driverName" value="@ViewBag.DriverName" type="text" id="goodsDriverName" suggestFields="driverID,driverName,driverPhone" suggestUrl="Valid/SelectDrivers" lookupGroup="obj" lookupPk="driverID"/>
                    <a class="btnLook" href="Valid/SelectDrivers" lookupgroup="obj" lookuppk="driverID">选择车主</a>
           </p>
        }
        
    
    
        @if(Model.OrderState>=0&&Model.OrderState<=2){
         <p>
        <label>更改订单状态：</label>
            <select name="changeOrderState" id="changeOrderState">
                    <option value="1" selected>自动</option>
                    <option value="2">完成</option>
                    <option value="3">失效</option>
            </select>
         </p>
        }
    
   
    <p>
        <span >货物名称：</span>
        <span  style="font-size: 14px;">
            @Model.Lading
        </span>
    </p>
    <p>
        <span >起始地：</span>
        <span  style="font-size: 14px;">
            @Model.StartName
        </span>
    </p>
    <p>
        <span >目的地：</span>
        <span  style="font-size: 14px;">
            @Model.EndName
        </span>
    </p>
    <p>
        <span>发货时间：</span>
        <span  style="font-size: 14px;">
            @Model.OrderSendtime
        </span>
    </p>
    <p>
        
        <span >成交价格：</span>
        @if (Model.IsMianYi == 1)
        {
            <span  style="font-size: 14px;">
                面议
            </span>
        }
        else{
           <span  style="font-size: 14px;">
                @Model.Price 元
            </span> 
        }
        
    </p>
    <p>
        
        <span class="label">备注：</span>
       <span  style="font-size: 14px;">
                @Model.OrderRemark
       </span>
        
    </p>
    <p>
        <span class="label">货物照片：</span>
        @if (Model.OrderImagePath != null&&!Model.OrderImagePath.Equals(""))
        {
            <a href="#" target="_blank">
                <img width="300" height="300" src="@Model.GetImagePath(0)" />
            </a>
        }
        else
        {
            <span style="font-size: 40px">无图片</span>
        }
    
    <p />
    </div>
        <div class="formBar">
            <ul>
                <!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit" id="submitData" width="120px">提交</button></div></div></li>
            </ul>
        </div>
    </form>
</div>
