﻿@using HuoYunBLL
@using HuoYunWeb
@model ListPageModel<HuoYunWeb.Controllers.OrderListItem>
@{
    Layout = "~/Views/Shared/_listPageLayout1.cshtml";
    ViewBag.HiddenAdd = true;
    ViewBag.HiddenEdit = true;
    ViewBag.HiddenBar = true;
}

@if (!Request.IsSelect())
{
@*    @section toolBar{*@
@*        <li><a class="edit" href="~/Valid/DriverDetail?DriverID={sid_user}" width="800" height="700" rel="DriverDetail" target="navTab" mask="true" title="详细信息"><span>详细信息</span></a></li>*@
@*    }*@
}

@section pageContent {
    <thead>
        <tr>
            @CommHelper.getListHeaderSelector()
            <th width="120" orderfield="@Request.GetOrderField("OrderNumber")" class="@Request.GetOrderFieldClass("OrderNumber")">订单号</th>
            <th width="120" orderfield="@Request.GetOrderField("Price")" class="@Request.GetOrderFieldClass("Price")">订单金额</th>
            <th width="120" class="@Request.GetOrderFieldClass("UserName")">货主</th>
            <th width="120" orderfield="@Request.GetOrderField("PublishTime")" class="@Request.GetOrderFieldClass("PublishTime")">发布时间</th>
            <th width="120" orderfield="@Request.GetOrderField("OrderState")" class="@Request.GetOrderFieldClass("OrderState")">状态</th>
            <th width="120" orderfield="" class="">车主</th>
            <th width="120" class="@Request.GetOrderFieldClass("memo")" >操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr target="sid_user" rel="@item.GuestUserID">
                @CommHelper.getListSelector(item.GuestUserID, item.UserName)
               

                <td title="@item.OrderNumber">@item.OrderNumber</td>
                <td >@item.Price.ToString("##.00") 元</td>

                <td title="@item.UserName">@item.UserName (@item.PhoneNumber)</td>
           
                <td title="@item.PublishTime.GetValueOrDefault()">@item.PublishTime.ReadableTimerStr()</td>

                <td>@item.OrderState.GetOrderStateStr()</td>
                <td title="@item.Drivers.GetDriverListText1()">@item.Drivers.GetCurrentDriver() (共：@item.Drivers.Count())</td>
                @if (item.OrderState >= 0 && item.OrderState <= 2)
                {
                    <td> @CommHelper.getListDetailButton("Order/EditView", "OrderID", item.ID, "详细信息.", "编辑")</td>
                }
                else{
                    <td> @CommHelper.getListDetailButton("Order/Detail", "OrderID", item.ID, "详细信息.", "订单详细")</td>
                }
                
            </tr>
        }
    </tbody>
}
