﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
       <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no" /> 
       <link href="~/Content/bootstrap.css" rel="stylesheet" />
       <link href="~/Content/site.css" rel="stylesheet" />
         <link href="~/Scripts/jqdate/css/common.css" rel="stylesheet" />
       <link href="~/Content/jquery.autocomplete.css" rel="stylesheet" />
       <script type="text/javascript" src="~/Scripts/jquery-1.7.2.min.js"></script>
       <script type="text/javascript" src="~/Scripts/jquery.autocomplete.js"></script>
         <script type="text/javascript" src="~/Scripts/jqdate/js/date.js"></script>
        <script type="text/javascript" src="~/Scripts/jqdate/js/iscroll.js"></script>
    </head>
    <body>
        <div class="container" style="padding-left:5px; padding-right:5px">
            <section>
                @RenderBody()
            </section>
        </div>
        
        @RenderSection("ScriptSection", false)
    </body>
</html>
