﻿@model Mobile.Models.OrderModel

@{
    ViewBag.Title = "下单";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(function () {
  
        $("#start").autocomplete("/Order/RequestRoute",
                {
                    minChars: 1,
                    width: 260,
                    dataType: "json",
                    autoFill: false,
                    matchContains: true,
                    parse: function (data) {
                        return $.map(eval(data),
                        function (row) {
                            return {
                                data: row,
                                value: row.Start,
                                result: row.Start
                            }
                        }
                        );
                    },
                    formatItem: function (row, i, max) {
                        return row.Start;
                    }
                }).result(function (event, item) {
                 $("#sendCity").val(item.Start);
                 LoadRouteEnd(item.Start);
             });

        $("#sendTime").date();
    });
    function LoadRouteEnd(start) {
        var end = $("#end");
        end.empty();
        if (start != '') {
            $.ajax({
                dataType: "json",
                url: "/Order/RequestEndByStart",
                data: {
                    start: start
                },
                cache: false,
                success: function (data, textStatus) {
                    if (data!=null) {
                        $.each(data, function (i, item) {
                            var option = "<option value='" + item.Id + "'>" + item.End + "</option>"
                            end.append(option);
                        });
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }
    }
</script>

@*<div class="form-group">
    <label for="lastname">始发地</label>

    <input type="text" class="form-control input-xlarge" maxlength="100" name="sendAddress" id="sendAddress" onblur="LostFocus(this,'sendCity')" placeholder="请输入始发地" />
    <input type="text" id="sendCity" name="sendCity" value="" hidden="hidden" />
    <span id="sendAddressErrorMsg" class="errordisplay"></span>
</div>

<div class="form-group">
    <label for="lastname">收货人</label>

    <input type="text" class="form-control input-xlarge" maxlength="12" id="receivePerson"
        placeholder="请输入收货人" />
    <span id="receivePersonErrorMsg" class="errordisplay"></span>
</div>
<div class="form-group">
    <label for="lastname">目的地</label>

    <input type="text" class="form-control input-xlarge" maxlength="100" id="receiveAddress"  onblur="LostFocus(this,'receiveCity')"  name="receiveAddress"
        placeholder="请输入目的地" />
    <input type="text" id="receiveCity" name="" value="" hidden="hidden" />
    <span id="receiveAddressErrorMsg" class="errordisplay"></span>
</div>
<div class="form-group">
    <label for="lastname">选择车主</label>
    <input type="text" class="form-control input-xlarge" maxlength="100" id="driverName" name="driverName"
        placeholder="请选择车主" />
    <input type="text" id="driverId" name="driverId" value="" hidden="hidden" />
    <span id="dervierErrorMsg" class="errordisplay"></span>
</div>*@
@*<div class="form-group">
    <label for="lastname">选择线路</label>

    <input type="text" class="form-control input-xlarge" maxlength="100" id="routeName"  onblur="LostFocus(this,'routeId')"  name="routeName"
        placeholder="请输入线路" />
    <input type="text" id="routeId" name="routeId" value="" hidden="hidden" />
    <span id="routeErrorMsg" class="errordisplay"></span>
</div>*@
<div style="height:20px"></div>
<div class="form-group">
    <label for="start">始发地</label>

    <input type="text" class="form-control input-xlarge" maxlength="100" name="start" id="start" onblur="LostFocus(this,'sendCity')" placeholder="请输入始发地" />
    <input type="text" id="sendCity" name="sendCity" value="" hidden="hidden" />
    <input type="hidden" id="orderFrom" name="orderFrom" value="2" />
    <span id="sendAddressErrorMsg" class="errordisplay"></span>
</div>
<div class="form-group">
    <label for="end">目的地</label>
    <select id="end" name="end"  class="form-control input-xlarge"></select>
     <span id="endErrorMsg" class="errordisplay"></span>
</div>
<div class="form-group">
    <label for="productName">货物名称</label>

    <input type="text" class="form-control input-xlarge" maxlength="50" id="productName"
        placeholder="请输入货物名称" />
    <span id="productNameErrorMsg" class="errordisplay"></span>
</div>
<div class="form-group">
    <label for="sendTime">发货时间</label>
    <input type="text" class="form-control input-xlarge" id="sendTime" maxlength="10"
        placeholder="请输入发货时间" />
    <span id="sendTimeErrorMsg" class="errordisplay"></span>
</div>
<div class="form-group">
    <label for="bak">备注</label>

    <input type="text" class="form-control input-xlarge" maxlength="50" id="Remark"
        placeholder="请输入备注" />
</div>
<div class="form-group">
    <div>
        <button type="button" onclick="Submit()" class="btn btn-lg btn-primary">提交</button>
    </div>
</div>
<div class="form-group">
    <div>
        <span class="errordisplay" id="submitMessage"></span>
    </div>
</div>
<input id="openId"  type="hidden" value="@Model.OpenId"/>
<div id="datePlugin"></div>
@section ScriptSection {

    <script type="text/javascript">
        function Submit() {
            $("#routeErrorMsg").html("");
            $("#productNameErrorMsg").html("");
            $("#sendTimeErrorMsg").html("");
            $("#submitMessage").html("");
            $("#sendAddressErrorMsg").html("");
            $("#endErrorMsg").html("");
            
            
            //var sendAddress = $("#sendAddress").val();
            //if (sendAddress == '') {
            //    $("#sendAddressErrorMsg").html("请输入始发地");
            //    return false;
            //}
            ////var receivePerson = $("#receivePerson").val();
            ////if (receivePerson == '') {
            ////    $("#sreceivePersonErrorMsg").html("请输入收货人姓名");
            ////    return false;
            ////}
            //var receiveAddress = $("#receiveAddress").val();
            //if (receiveAddress == '') {
            //    $("#receiveAddressErrorMsg").html("请输入目的地");
            //    return false;
            //}

            var start = $("#start").val();
            if (start == '' || $("#sendCity").val() == '') {
                $("#sendAddressErrorMsg").html("请输入起始地");
                return false;
            }
            var routeId = $("#end").val();
            if (routeId == '') {
                $("#endErrorMsg").html("请选择目的地");
                return false;
            }

            var productName = $("#productName").val();
            if (productName == '') {
                $("#productNameErrorMsg").html("请输入货物名称");
                return false;
            }
            var sendtime = $("#sendTime").val();
            if (sendtime == '') {
                $("#sendTimeErrorMsg").html("请输入发货时间");
                return false;
            }

            if (!(/^(\d{4})([-])(\d{2})([-])(\d{2}|\d{1})$/.test(sendtime))) {
                $("#sendTimeErrorMsg").html("发货时间输入不正确，格式为 1900-01-01");
                return false;
            }
           
            var pdata = {
                RouteId: routeId,
                ProductName: productName,
                SendTime: sendtime,
                Remark: $("#Remark").val(),
                From: $("#orderFrom").val()
            };


            var submitMessage = $("#submitMessage");
            submitMessage.html("订单处理中...");
            $.ajax({
                url: "/Order/Process", //后台处理的地址
                type: "POST",
                dataType: 'json',
                data: pdata,
                success: function (data) {

                    if (data.Sucess == 'true') {
                        $("#submitMessage").html("订单处理中成功,订单号为：" + data.OrderId);
                        InitData();
                    }
                    else { alert("订单处理失败，请稍后重试") }
                },
                error: function () { alert("订单处理失败，请稍后重试") }
            });


            return true;
        }

        function InitData() {
            $("#start").val("");
            $("#sendCity").val("");
            $("#productName").val("");
            $("#Remark").val("");
        }

        function LostFocus(obj,id)
        {
            if ($("#" + id).val() == '')
            {
                $(obj).val('');
            }
        }

    </script>

}