﻿@model Mobile.Models.OrderListModel
@{
    ViewBag.Title = "我的订单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:20px"></div>
@{
    foreach(var order in Model.OrderList)
    {
        <ul class="list-group" id="list_@order.OrderId">
          <li class="list-group-item list-group-item-success">订单号：@order.OrderNumber</li>
          <li class="list-group-item">起始地：@order.SendAddress</li>
          <li class="list-group-item">目的地：@order.ReceiveAddress</li>
          <li class="list-group-item">订单创建时间：@order.SendTime</li>
          <li class="list-group-item">订单状态：@order.StateName</li>
         @if(order.State<2)
         {
          <li class="list-group-item list-group-item-danger"><a href="DeleteOrder('@order.OrderId')">取消该订单</a></li>
         }
         else
         {
             <li class="list-group-item list-group-item-danger disabled"></li>
         }
        </ul>
    }
}

@section ScriptSection {
     <script type="text/javascript">
         function DeleteOrder(orderId)
         {
             if (confirm("你确定要取消该订单吗？")) {
                 $.ajax({
                     url: "/Order/DeleteOrder", //后台处理的地址
                     type: "POST",
                     dataType: 'json',
                     data: { orderId: orderId},
                     success: function (data) {

                         if (data.Sucess == 'true') {
                            
                             $("#list_" + orderId).hidden();
                         }
                         else { alert("订单处理失败，请稍后重试") }
                     },
                     error: function () { alert("订单处理失败，请稍后重试") }
                 });
             }
         }
     </script>
}
