﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1 maximum-scale=1, user-scalable=no" />
    <title>未登录提示</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
        <div class="container" style="padding-left:5px; padding-right:5px">
            <div  class="alert alert-warning"><p>您当前无权进行此项操作，请先添加微信号：xiangjianhuodi 或者扫描下面二位码关注‘乡间货的’公众平台。</p></div>
            <div style="text-align:center"><img src="~/Content/images/qrcode8.jpg"/></div>
        </div>

</body>
</html>
