﻿@{
    ViewBag.Title = "注册";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-group">
    <label for="firstname">电话号码</label>

    <input type="text" class="form-control input-xlarge" id="phone" maxlength="11" value=""  placeholder="请输入电话号码" />
    <span id="phoneErrorMsg" class="errordisplay"></span>
</div>
<div class="form-group">
    <label for="lastname">姓名</label>
    <input type="text" class="form-control input-xlarge" value="" maxlength="12" id="userName" 
                placeholder="请输入姓名" />
    <span id="userNameErrorMsg" class="errordisplay"></span>
</div>
<div class="form-group">
    <label for="name">性别</label>
    <select class="form-control" id="gender">
        <option value="1">男</option>
        <option value="2">女</option>
    </select>
</div>
<div class="form-group">
    <div>
        <button type="button" onclick="Submit()" class="btn btn-lg btn-primary">注册</button>
    </div>
</div>
<div class="form-group">
    <div>
        <span class="errordisplay" id="submitMessage"></span>
    </div>
</div>
@section ScriptSection {

    <script type="text/javascript">
        function Submit() {
            $("#phoneErrorMsg").html("");
            $("#userNameErrorMsg").html("");
            $("#submitMessage").html("");

            var phone = $("#phone").val();
            if (phone == '') {
                $("#phoneErrorMsg").html("请输入手机号");
                return false;
            }
            if (!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(phone))) {
                $("#phoneErrorMsg").html("手机号不正确");
                return false;
            }
            var userName = $("#userName").val();
            if (userName == '') {
                $("#userNameErrorMsg").html("请输入姓名");
                return false;
            }
            var pdata = {
                Phone: phone,
                UserName: userName,
                Gender: $("#gender").val(),
            }

            var submitMessage = $("#submitMessage");
            submitMessage.html("用户注册中...");
            $.ajax({
                url: "/Order/ProcessRegister", //后台处理的地址
                type: "POST",
                dataType: 'json',
                data: pdata,
                success: function (data) {

                    if (data.Sucess == 'true') {
                        window.location.href = "/Order/Index"
                    }
                    else { submitMessage.html("用户注册失败，请稍后重试") }
                },
                error: function () { submitMessage.html("用户注册失败，请稍后重试") }
            });
            return true;
        }
    </script>

}