﻿@using HuoYunBLL
@using HuoYunWeb
@model ListPageModel<HuoYunWeb.Models.Customer>
@{
    Layout = "~/Views/Shared/_listPageLayout1.cshtml";
    ViewBag.HiddenAdd = true;
    ViewBag.HiddenEdit = true;
}

@if (!Request.IsSelect())
{
@*    @section toolBar{*@
@*        <li><a class="edit" href="~/Valid/DriverDetail?DriverID={sid_user}" width="800" height="700" rel="DriverDetail" target="navTab" mask="true" title="详细信息"><span>详细信息</span></a></li>*@
@*    }*@
}
@section listSearch{
    <table class="searchContent">
        <tr>
            <td>
                人员名称：<input type="text" name="UserName" value="@Request["UserName"]" />
            </td>
            <td>
                电话号码：<input type="text" name="PhoneNumber" value="@Request["PhoneNumber"]" />
            </td>
            <td align="right">
                审核类型：
            </td>
            <td>
                <select class="combox" name="Valid">
                        <option value="" selected="@string.IsNullOrEmpty(Request["Valid"])">所有</option>
                        <option value="0" selected="@Request["Valid"].FixEquals("0")">未审核</option>
                        <option value="1" selected="@Request["Valid"].FixEquals("1")">已审核</option>
                    </select>
        </tr>
    </table>
}
@section pageContent {
    <thead>
        <tr>
            @CommHelper.getListHeaderSelector()
            <th width="120" orderfield="@Request.GetOrderField("name")" class="@Request.GetOrderFieldClass("name")">姓名</th>
            <th width="120" orderfield="@Request.GetOrderField("name")" class="@Request.GetOrderFieldClass("name")">性别</th>
            <th width="120" orderfield="@Request.GetOrderField("name")" class="@Request.GetOrderFieldClass("name")">电话</th>
            <th width="120" class="@Request.GetOrderFieldClass("memo")">注册时间</th>
            <th width="120" orderfield="@Request.GetOrderField("memo")" class="@Request.GetOrderFieldClass("memo")">是否审核</th>
            <th width="120" orderfield="@Request.GetOrderField("memo")" class="@Request.GetOrderFieldClass("memo")">提交审核时间</th>
@*            <th width="120" class="@Request.GetOrderFieldClass("memo")">相关订单数量</th>*@
            <th width="120" class="@Request.GetOrderFieldClass("memo")">订单</th>
            <th width="120" class="@Request.GetOrderFieldClass("memo")">操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr target="sid_user" rel="@item.ID">
                @CommHelper.getListSelector(item.ID, item.UserInfo.UserName)
               
                <td title="">@item.UserInfo.UserName  </td>
                <td>@item.UserInfo.Gender.GetGenderStr()</td>
                <td>@item.UserInfo.PhoneNumber</td>
                <td >@item.UserInfo.JoinDate</td>
                <td >@item.Valid.Get是否()</td>
                <td >@if (item.Valid == 1 || item.ValidSubmit == 0)
                     {
                         <span>---</span>
                     }
                     else
                     {
                         <span title="@item.ValidSubmitDateTime.GetValueOrDefault()">@item.ValidSubmitDateTime.ReadableTimerStr()</span>
                     }</td>
                
                <td>
                    @CommHelper.getListDetailButton("Order/List", "userName", item.UserInfo.PhoneNumber, "订单列表.", "订单")
                </td>
                <td>
                    @CommHelper.getListDetailButton("Valid/CustomDetail", "customID", item.ID, "详细信息.", "编辑")
                    --
                   
                </td>
            </tr>
        }
    </tbody>
}
