﻿@using HuoYunBLL
@using HuoYunWeb.Models
@using NPOI.SS.Formula.Functions
@model HuoYunWeb.Models.Driver
@{
    Layout = "~/Views/Shared/_editLayout1.cshtml";
//    Layout = null;
//    throw new Exception((Model==null).ToString());
}
<div class="pageFormContent1" layouth="56">
    <p>
        <span class="label">姓    名：</span>
        <input type="hidden" name="DriverID" value="@Model.ID"/>
        <span alt="请输入名称." style="font-size: 14px;">
            @Html.TextBox("username", @Model.User.UserName,"")
            (手机号:@Html.TextBox("PhoneNumber", @Model.User.PhoneNumber))
@*            (手机号:@Model.User.PhoneNumber)*@
        </span>
        @*        <input name="Name" class="required" type="text" size="30" value="@Model.User.UserName" alt="请输入名称." />*@
    </p>
    <br />
    <br />

@*            <p>*@
@*                <label>电    话：</label>*@
@*                @Model.User.PhoneNumber*@
@*            </p>*@
    <p>
        <span class="label">身份证：</span>
        @if (Model.ShenFenZheng != null)
        {
            <a href="@Model.GetImagePath(1)" target="_blank">
                <img width="300" height="300" src="@Model.GetImagePath(1)" />
            </a>
        }
        else
        {
            <span style="font-size: 40px">无图片</span>
        }
    
    <p />

    <br />
    <br />
    <p>
        <span class="label">驾驶证：</span>
        @if (Model.JiaZhao != null)
        {
            <a href="@Model.GetImagePath(2)" target="_blank">
                <img width="300" height="300" src="@Model.GetImagePath(2)" />
            </a>
        }
        else
        {
            <span style="font-size: 40px">无图片</span>
        }
    </p>

    <br />
    <br />
    <p>
    
        <span class="label">行驶证：</span>
    
        @if (Model.XingShiZheng != null)
        {
            <a href="@Model.GetImagePath(3)" target="_blank">
                <img width="300" height="300" src="@Model.GetImagePath(3)" />
            </a>
        }
        else
        {
            <span style="font-size: 40px">无图片</span>
        }
    </p>

    <br />
    <br />
     <p>

    <span class="label">车辆正面图：</span>

        @if (Model.CheLiang1 != null)
        {
            <a href="@Model.GetImagePath(4)" target="_blank">
                <img width="300" height="300" src="@Model.GetImagePath(5)" />
            </a>
        }
        else
        {
            <span style="font-size: 40px">无图片</span>
        }
     </p> 

    <br />
    <br />
    <p>
    <span class="label">车辆45度图：</span>
        @if (Model.CheLiang2 != null)
        {
            <a href="@Model.GetImagePath(5)" target="_blank">
                <img width="300" height="300" src="@Model.GetImagePath(5)" />
            </a>
        }
        else
        {
            <span style="font-size: 40px">无图片</span>
        }
    </p>
    <p>
    <br/>
    <br/>
    <br/>
    <br/>
        <span class="label">是否通过：</span>
        @Html.CheckBox("isvalid",Model.Valid==1)
    </p> 
    <br />

    <p>
        <span class="label">说 明：</span>
        <span alt="请输入名称." style="font-size: 30px;">@Model.Remark</span>
        <textarea name="Remark" rows="8" cols="30" type="text" size="500" alt="请输入名称.">@Model.Remark</textarea>
    </p>
</div>
