﻿<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>错误</title>
    </head>
    <body style="margin:10px 20px">
        <div style="margin:0 auto">
        <h1>处理出错了，请稍后重试</h1>
        </div>
    </body>
</html>
