﻿@{
	ViewBag.Title = "添加路线";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/jquery.autocomplete.js" type="text/javascript"></script>
<link href="~/js/jquery.autocomplete.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript">
    function initArea() {
        var areas = $("#select_area");
        areas.empty();
        $.ajax({
            dataType: "json",
            url: "/Statistics/GetAllArea",
            data: {

            },
            cache: false,
            success: function (data, textStatus) {
                if (data.Success == true) {
                    areas.append("<option value='-1'>请选择</option>");
                    $.each($.parseJSON(data.ResultData), function (i, item) {
                        var option = "<option value='" + item.Code + "'>" + item.Name + "</option>";
                        areas.append(option);
                    });
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

            }
        });
    }
    $(function () {
        //初始化区域
        initArea();
        $("#submitRoute").click(function () {
            if ($("#select_area").val() == ''||$("#select_area").val()=="-1") {
                alert("请选择路线所属区域");
                return false;
            }
            if ($("#start").val() == '') {
                alert("请输入起始地");
                return false;
            }

            if ($("#end").val() == '') {
                alert("请输入目的地");
                return false;
            }
			
            $.ajax({
                dataType: "json",
                url: "/Route/AddRoute",
                data: {
                    start: $("#start").val(), end: $("#end").val(), areaCode: $("#select_area").val()
                },
                cache: false,
                success: function (data, textStatus) {
                    if (data.Success == true) {
                        initFormData();
                        alert("添加路线成功");
                    }
                    else {
                        alert(data.Message);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("抱歉，未能成功添加路线");
                }
            });
            return false;
        });
    });
    function initFormData() {

        $("#start").val("");
        $("#end").val("");
    }

</script>
<div class="pageContent">
	<form class="pageForm" id="checkUserForm">
	    <div class="pageFormContent" layouth="56">
	        <p>
	            <label>区域：</label>
                <select id="select_area" name="select_area">
                    <option value="-1">请选择</option>
                </select>
	        </p>
	        <p>
	            <label>起始地：</label>
	            <input name="start" id="start" type="text" size="50"/>
	        </p>
	        <p>
	            <label>目的地：</label>
	            <input name="end" id="end" type="text" size="50"/>
	        </p>
	    </div>
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit" id="submitRoute" width="120px">提交</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
