﻿@{
	ViewBag.Title = "路线分配车主";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/jquery.autocomplete.js" type="text/javascript"></script>
<link href="~/js/jquery.autocomplete.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript">
    
    $(function () {
        $("#routeStart").autocomplete("/Customer/RequestRoute2",
            {
                minChars: 1,
                width: 260,
                dataType: "json",
                autoFill: false,
                matchContains: true,
                parse: function (data) {
                    return $.map(eval(data),
                        function (row) {
                            return {
                                data: row,
                                value: row.Start,
                                result: row.Start
                            }
                        }
                    );
                },
                formatItem: function (row, i, max) {
                    return row.Start;
                }
            }
        ).result(function (event, item) {
            LoadRouteEnd(item.Start);
        });
        $("#submitRoute").click(function () {

            if ($("#routeStart").val() == '') {
                alert("请输入线路起始地");
                return false;
            }
            if ($("#routeEnd").val() == '') {
                alert("请输入线路目的地");
                return false;
            }
            if ($("#selectDriverID").val() == '') {
                alert("请选择线路所要分配的车主");
                return false;
            }

            $.ajax({
                dataType: "json",
                url: "/Route/AddDriverRoute",
                data: {
                    routeId: $("#routeEnd").val(), driverId: $("#selectDriverID").val()
                },
                cache: false,
                success: function (data, textStatus) {
                    if (data.Success == true) {

                        initFormData();
                        alert("添加成功");
                    }
                    else if (data.Success == false) {
                        alert(data.Message);
                    }
                    else {
                        alert(data.ErrorMessage);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("抱歉，添加失败");
                }
            });
            return false;
        });

    });
    function LoadRouteEnd(start) {
        var end = $("#routeEnd");
        end.empty();
        if (start != '') {
            $.ajax({
                dataType: "json",
                url: "/Customer/GetEndRouteByStart",
                data: {
                    start: start
                },
                cache: false,
                success: function (data, textStatus) {
                    if (data.Success == true) {
                        $.each($.parseJSON(data.ResultData), function (i, item) {
                            var option = "<option value='" + item.Id + "'>" + item.End + "</option>";
                            $("#routeEnd").append(option);
                        });
                    }
                    
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }
    }

    function initFormData() {
        $("#routeId").val("");
        $("#routeStart").val("");
        $("#routeEnd").val("");
        $("#selectDriverID").val("");
        $("#selectDriverName").val("");
    }

</script>
<div class="pageContent">
	<form class="pageForm" id="checkUserForm">
		<div class="pageFormContent" layouth="56">
		    <p>
		        <label>起始地：</label>
                <input name="routeStart" id="routeStart" type="text"  class="required" />
		        <input name="routeId" id="routeId" type="hidden"/>
		    </p>
            <p>
                <label>目的地：</label>
                <select name="routeEnd" id="routeEnd"></select>
            </p>
			<p>
				<label>分配车主：</label>
                <input name="obj.driverID" id="selectDriverID" value="" type="hidden" />
                <input name="obj.driverName" type="text" id="selectDriverName" />
                <a class="btnLook" href="Valid/SelectMultiDrivers" lookupgroup="obj">选择车主</a>
			</p>
		</div>
		<div class="formBar">
			<ul>
				<!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit" id="submitRoute" width="120px">提交</button></div></div></li>
			</ul>
		</div>
	</form>
</div>
