﻿@using HuoYunBLL
@using HuoYunWeb
@model ListPageModel<HuoYunWeb.Models.Activity>
@{
    Layout = "~/Views/Shared/_listPageLayout1.cshtml";
	ViewBag.HiddenAdd = true;
	ViewBag.HiddenDel = true;
    ViewBag.HiddenEdit = true;
}

    @section listSearch{
        <script type="text/javascript">
            function initArea() {
                var areas = $("#select_area");
                areas.empty();
                $.ajax({
                    dataType: "json",
                    url: "/Statistics/GetAllArea",
                    data: {

                    },
                    cache: false,
                    success: function (data, textStatus) {
                        if (data.Success == true) {
                            areas.append("<option  value=''>全部</option>");
                            $.each($.parseJSON(data.ResultData), function (i, item) {
                                var option = "<option  value='" + item.Code + "'>" + item.Name + "</option>";
                                areas.append(option);
                            });
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {

                    }
                });
            }
            function initRoute(areaCode) {
                var routes = $("#select_route");
                routes.empty();
                if (areaCode != '' && areaCode != "-1") {
                    $.ajax({
                        dataType: "json",
                        url: "/Statistics/GetRoutesByAreaCode",
                        data: {
                            areaCode: areaCode
                        },
                        cache: false,
                        success: function (data, textStatus) {
                            if (data.Success == true) {
                                routes.append("<option  value=''>全部</option>");
                                $.each($.parseJSON(data.ResultData), function (i, item) {
                                    var option = "<option  value='" + item.Start + "'>" + item.Start + "</option>";
                                    routes.append(option);
                                });
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {

                        }
                    });
                }

            }
            function OpenNewTab(phoneNumber) {
             navTab.openTab("List", "Order/List", { title: "订单列表", fresh: true, data: {phoneNumber:phoneNumber,areaCode:$("#select_area").val(),routeName:$("#select_route").val(),orderStartDate:$("#orderStartDate").val(),orderEndDate:$("#orderEndDate").val() } });
            }
            $(function () {
                //初始化区域
                initArea();
                $('#select_area').change(function () {
                    initRoute($(this).children('option:selected').val());
                });
            });
    </script>
    <table class="searchContent">
        <tr>
            <td>区域：<select id="select_area" name="area">
                <option value="">全部</option>
            </select></td>
            <td>线路：<select id="select_route" name="route">
                <option value="">全部</option>
                </select></td>
             <td>开始时间：<input readonly="readonly" name="orderStartDate" id="orderStartDate" type="text" datefmt="yyyy-MM-dd HH:mm" size="20" class="date" value="@Request["orderStartDate"]" /></td>
            <td>结束时间：<input readonly="readonly" name="orderEndDate" id="orderEndDate" type="text" datefmt="yyyy-MM-dd HH:mm" size="20" class="date" value="@Request["orderEndDate"]" /></td>
            <td>
                人员名称：<input type="text" name="UserName" value="@Request["UserName"]"/>
            </td>
            <td>
                电话号码：<input type="text" name="PhoneNumber" value="@Request["PhoneNumber"]"/>
            </td>
        </tr>
    </table>
}
@section pageContent {
    <thead>
        <tr>
            <th width="120">姓名</th>
			<th width="120">电话</th>
			<th width="120">活跃度</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.List)
        {
            <tr>
                @CommHelper.getListSelector(item.UserID, item.UserName)
                <td>@item.UserName</td>
                <td>@item.PhoneNumber</td>
                <td>
                    <a href="javascript:OpenNewTab('@item.PhoneNumber')">@item.ActivityCount</a>
                </td>
            </tr>
        }
    </tbody>
    }
