﻿@{
	ViewBag.Title = "AreaTrend";
	Layout = "~/Views/Shared/_LayoutStatistic.cshtml";
}
<script src="~/js/highcharts/highcharts.js"></script>
<script type="text/javascript">
	//var temareaName =
	$(function () {
		//$("#SearchBtn").click(function () {

		//	var introduceName = $("#introduceName").val();
		//	var phoneNumber = $("#phoneNumber").val();

		//	GetIntroducePersonCount(introduceName, phoneNumber)
		//});

		InitialChart();

		//GetIntroducePersonCount('', '');

	});

	function InitialChart() {
		$.ajax({
			dataType: "json",
			url: "/Statistics/GetAreaTrendCount",
			data: { areaName: $("#areaName").val() },
			cache: false,
			success: function (data, textStatus) {
				if (data.Success == true) {
					DrawChart(data.Dates, data.SendCount, data.ReceiveCount,$("#areaName").val())
				}
				else {
					alertMsg.error(data.ErrorMessage);
				}
			},
			error: function (XMLHttpRequest, textStatus, errorThrown) {
				alertMsg.error("抱歉，检索出现错误");
			}
		});
	}

	function DrawChart(categories, sendValues, receiveValues, area) {
		$('#chartContainer').highcharts({
			chart: {
			    type: 'line',
			    marginBottom: 100
			},
			title: {
				text: area + '一周收发货趋势图'
			},
			subtitle: {
				text: ''
			},
			xAxis: {
				categories: categories
			},
			yAxis: {
			    min: 0,
			    minTickInterval:1,
				title: {
					text: '数量 (单)'
				}
			},
			plotOptions: {
				line: {
					dataLabels: {
						enabled: true
					},
					enableMouseTracking: false
				}
			},
			series: [{
				name: '发货',
				data: sendValues
			}, {
				name: '收货',
				data: receiveValues
			}]
		});
	}
</script>
<input type="hidden" id="areaName" value="@ViewBag.ArearName">
<div class="page unitBox">
	<div class="pageContent">
		<div class="tabs">
			<div class="tabsContent" style="height:750px;">
				<div inited="1000" style="display: block;">
					<div id="chartContainer" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
				</div>
			</div>
			<div class="tabsFooter">
				<div class="tabsFooterContent"></div>
			</div>
		</div>
	</div>
</div>
