﻿@{
    ViewBag.Title = "Area";
    Layout = "~/Views/Shared/_LayoutStatistic.cshtml";
}

<script type="text/javascript">
    function initArea() {
        var areas = $("#select_area");
        areas.empty();
        $.ajax({
            dataType: "json",
            url: "/Statistics/GetAllArea",
            data: {
               
            },
            cache: false,
            success: function (data, textStatus) {
                if (data.Success == true) {
                    areas.append("<option value='-1'>全部</option>");
                    $.each($.parseJSON(data.ResultData), function (i, item) {
                        var option = "<option value='" + item.Code + "'>" + item.Name + "</option>";
                        areas.append(option);
                    });
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

            }
        });
    }
    function initRoute(areaCode) {
        var routes = $("#select_route");
        routes.empty();
        if (areaCode != ''&&areaCode!="-1") {
            $.ajax({
                dataType: "json",
                url: "/Statistics/GetRoutesByAreaCode",
                data: {
                    areaCode:areaCode
                    },
                cache: false,
                success: function (data, textStatus) {
                    if (data.Success == true) {
                        routes.append("<option value='-1'>全部</option>");
                        $.each($.parseJSON(data.ResultData), function (i, item) {
                            var option = "<option value='" + item.Start + "'>" + item.Start  + "</option>";
                            routes.append(option);
                        });
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }
       
    }
    $(function () {
        //初始化区域
        initArea();
        $('#select_area').change(function () {
            initRoute($(this).children('option:selected').val());
        });
        $("#SearchBtn").click(function () {
            $("#ErrorMessage").html("");
            var areaVal = $("#select_area").children('option:selected').text();
            var routeVal = $("#select_route").children('option:selected').text();
            var orderStartDateVal = $("#orderStartDate").val();
            var orderEndDateVal = $("#orderEndDate").val();
            //if (val == '')
            //{
            //    $("#ErrorMessage").html("请输入地点!");
            //    return;
           // }

            $.ajax({
                dataType: "json",
                url: "/Statistics/SearchArea",
                data: {
                    area: areaVal, route: routeVal, orderStartDate: orderStartDateVal, orderEndDate: orderEndDateVal
                },
                cache: false,
                success: function (data, textStatus) {
                    if (data.Success == true) {
						
                        var str = '';
                        $.each(data.Items, function (i, item) {
						
                            str+="<tr>"	
                            str += "<td style='width: 117px;padding-top: 3px;'>" + "<a href=\"javascript:OpenNewTab('" + item.Area + "')\" style='color:blue'>" + item.Area + "</a></td>";
                            str += "<td style='width: 117px;'>" + item.SendCount + "</td>";
                            str += "<td style='width: 198px;'>" + item.ReceiveCount + "</td>";
                            str += "</tr>"
                        });
						
                        $("#listContent").html(str);
                    }
                    else {
                        alertMsg.error(data.ErrorMessage);
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alertMsg.error("抱歉，检索地点出现错误"); 
                }
            });

        });
    });
    function OpenNewTab(area)
    {
        navTab.openTab("AreaTrend", "Statistics/AreaTrend", { title: "区域收发单趋势", fresh: true, data: { name: area } });
    }
</script>
<div class="page unitBox">
	<div class="pageContent">
		<div class="tabs">
			<div class="tabsHeader">
				<div class="tabsHeaderContent">
					<ul>
						<li class="selected"><a href="javascript:;"><span>区域收发货统计</span></a></li>
					</ul>
				</div>
			</div>
			<div class="tabsContent" style="height:750px;">
				<div inited="1000" style="display: block;">
					<table class="searchContent">
					    <tbody>
					    <tr>
                            <td>
                                区域:<select id="select_area" name="select_area">
                                    <option value="-1">全部</option>
                                </select>
                            </td>
					        <td>
					            线路：<select id="select_route" name="select_route">
					                <option value="-1">全部</option>
					            </select>
					        </td>
					        <td></td>
					        <td></td>
					    </tr>
					    <tr>
					        
					        <td>开始时间：<input readonly="readonly" name="orderStartDate" id="orderStartDate" type="text" datefmt="yyyy-MM-dd HH:mm" size="20" class="date" value="@Request["orderStartDate"]"/></td>
					        <td>结束时间：<input readonly="readonly" name="orderEndDate" id="orderEndDate" type="text" datefmt="yyyy-MM-dd HH:mm" size="20" class="date" value="@Request["orderEndDate"]"/></td>
					        <td style="width: 10px"></td>
					        <td>
					            <div class="buttonActive">
					                <div class="buttonContent"><button type="button" id="SearchBtn">检索</button>
					                </div>
					            </div>
					        </td>
					        <td style="color: red; padding-left: 10px" id="ErrorMessage"></td>
					    </tr>
					    </tbody>
					</table>
					<div class="grid">
						<div class="gridHeader">
							<div class="gridThead" style="position: relative; left: 0px;">
								<table style="width:909px;">
									<thead>
									<tr>
									    <th style="width: 117px; cursor: default;">
									        <div class="gridCol" title="线路">线路</div></th>
									    <th style="width: 117px; cursor: default;">
									        <div class="gridCol" title="发货">发货(单位：件)</div></th>
									    <th style="width: 198px; cursor: default;">
									        <div class="gridCol" title="收货">收货(单位：件)</div></th>
									    
									</tr>
									</thead>
								</table>
							</div>
						</div>
						<div class="gridScroller" layouth="138" style="width: 929px; height: 50px; overflow: auto;">
							<div class="gridTbody">
								<table style="width:909px;">
									<tbody id="listContent">
										<tr>
                                            <td style="width: 117px;"></td>
											<td style="width: 117px;"></td>
										    <td style="width: 198px;"></td>
										    
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div style="display: none;"></div>
			</div>
			<div class="tabsFooter">
				<div class="tabsFooterContent"></div>
			</div>
		</div>
	</div>
</div>
