﻿@{
    ViewBag.Title = "Area";
    Layout = "~/Views/Shared/_LayoutStatistic.cshtml";
}
<script src="~/js/highcharts/highcharts.js"></script>
<script type="text/javascript">
	$(function () {
		$("#SearchBtn").click(function () {
			
			var introduceName = $("#introduceName").val();
			var phoneNumber = $("#phoneNumber").val();
			
			GetIntroducePersonCount(introduceName, phoneNumber)
		});

		InitialChart();
		
		GetIntroducePersonCount('', '');

	});

	function GetIntroducePersonCount(userName,phone)
	{
		$.ajax({
			dataType: "json",
			url: "/Statistics/GetIntroducePersonCount",
			data: { userName: userName, phoneNumber: phone },
			cache: false,
			success: function (data, textStatus) {
				if (data.Success == true) {

					var str = '';
					$.each(data.Items, function (i, item) {

						str += "<tr>"
						str += "<td style='width: 120px;'>" + item.UserName + "</td>";
						str += "<td style='width: 120px;'>" + item.PhoneNumber + "</td>";
						str += "<td style='width: 120px;'>" + item.IntroduceCount + "</td>";
						str += "</tr>"
					});

					$("#listContent").html(str);
				}
				else {
					alertMsg.error(data.ErrorMessage);
				}
			},
			error: function (XMLHttpRequest, textStatus, errorThrown) {
				alertMsg.error("抱歉，检索出现错误");
			}
		});
	}

	function InitialChart()
	{
		$.ajax({
			dataType: "json",
			url: "/Statistics/GetGroupIntroduceCount",
			data: {},
			cache: false,
			success: function (data, textStatus) {
				if (data.Success == true) {
					DrawChart(data.GroupNames, data.Counts)
				}
				else {
					alertMsg.error(data.ErrorMessage);
				}
			},
			error: function (XMLHttpRequest, textStatus, errorThrown) {
				alertMsg.error("抱歉，检索出现错误");
			}
		});
	}

	function DrawChart(categories,values)
	{
		$('#chartContainer').highcharts({
			chart: {
				type: 'column'
			},
			title: {
				text: '组推荐总数对比图'
			},
			subtitle: {
				text: ''
			},
			xAxis: {
				categories: categories,
				crosshair: true
			},
			yAxis: {
				min: 0,
				title: {
					text: '推荐数量 (人)'
				}
			},
			tooltip: {
				headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
				pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
					'<td style="padding:0"><b>{point.y} 人</b></td></tr>',
				footerFormat: '</table>',
				shared: true,
				useHTML: true
			},
			plotOptions: {
				column: {
					pointPadding: 0.2,
					borderWidth: 0
				}
			},
			series: [{
				name: '群组推荐总数',
				data: values
			}]
		});
	}
</script>
<div class="page unitBox">
	<h2 class="contentTitle">推荐群组统计</h2>

	<div class="pageContent">
		<div class="tabs">
			<div class="tabsHeader">
				<div class="tabsHeaderContent">
					<ul>
						<li class="selected"><a href="javascript:;"><span>推荐组统计</span></a></li>
						<li><a><span>推荐人统计</span></a></li>
					</ul>
				</div>
			</div>
			<div class="tabsContent" style="height:750px;">
				<div inited="1000" style="display: block;">
					<div id="chartContainer" style="min-width: 310px; height: 400px; margin: 0 auto;"></div>
				</div>
				<div style="display: none;">
					<table class="searchContent">
						<tbody>
							<tr>
								<td>
									推荐人名称：<input type="text" name="introduceName" id="introduceName" class="textInput">
								</td>
                                <td width="10px"></td>
								<td>
									电话号码：<input type="text" name="phoneNumber" id="phoneNumber" class="textInput">
								</td>
								<td style="width:10px"></td>
								<td>
									<div class="buttonActive"><div class="buttonContent"><button type="button" id="SearchBtn">检索</button></div></div>
								</td>
								<td style="color:red;padding-left:10px" id="ErrorMessage"></td>
							</tr>
						</tbody>
					</table>
					<div class="grid">
						<div class="gridHeader">
							<div class="gridThead" style="position: relative; left: 0px;">
								<table style="width:909px;">
									<thead>
										<tr>
											<th style="width: 120px; cursor: default;">推荐人</th>
											<th style="width: 120px; cursor: default;">手机号</th>
											<th style="width: 120px; cursor: default;">推荐人数(单位：人)</th>
										</tr>
									</thead>
								</table>
							</div>
						</div>
						<div class="gridScroller" layouth="138" style="width: 929px; height: 50px; overflow: auto;">
							<div class="gridTbody">
								<table style="width:909px;">
									<tbody id="listContent">
										<tr>
											<td style="width: 120px;"></td>
											<td style="width: 120px;"></td>
											<td style="width: 120px;"></td>
										</tr>

									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tabsFooter">
				<div class="tabsFooterContent"></div>
			</div>
		</div>
	</div>
</div>
