﻿@model HuoYunWeb.Models.Admin

@{
    Layout = null;
}
@**@
@*<!DOCTYPE html>*@
@**@
@*<html>*@
@*    <head>*@
@*        <meta name="viewport" content="width=device-width" />*@
@*        <title></title>*@
@*    </head>*@
@*    <body>*@
@*        <div>*@
@*            <form method="POST" action="/Home/DialogLogin/" onsubmit="return validateCallback(this, dialogAjaxDone)">*@
@*                <input type="text" name="Account" value="@Model.Account" />*@
@*                <input type="password" name="Password" value="@Model.Password" />*@
@*                <input type="submit" value="登陆" />*@
@*                <span style="color: red">@ViewBag.ErrorMessage</span>*@
@*            </form>*@
@*        </div>*@
@*    </body>*@
@*</html>*@
<div class="pageContent">
    <form method="post" action="~/Home/DialogLogin/" class="pageForm" onsubmit="return validateCallback(this, dialogAjaxDone)">
        <div class="pageFormContent" layouth="58">
            <div class="unit">
                <label>用户名：</label>
                <input type="text" name="Account" size="30" class="required" />
            </div>
            <div class="unit">
                <label>密码：</label>
                <input type="password" name="Password" size="30" class="required" />
            </div>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>

</div>

