﻿@model List<string>
@{

	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<title>title</title>

	<link href="~/themes/default/style.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="~/themes/css/core.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="~/themes/css/print.css" rel="stylesheet" type="text/css" media="print" />
	<link href="~/uploadify/css/uploadify.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="~/uploadify/css/uploadify.css" rel="stylesheet" type="text/css" media="screen" />
	<link href="~/css/main.css" rel="stylesheet" type="text/css" media="screen" />

	<!--[if IE]>
	<link href="~/themes/css/ieHack.css" rel="stylesheet" type="text/css" media="screen"/>
	<![endif]-->
	<!--[if lte IE 9]>
	<script src="~/js/speedup.js" type="text/javascript"></script>
	<![endif]-->

	<script src="~/js/jquery-1.7.2.js" type="text/javascript"></script>
	<script src="~/js/jquery.cookie.js" type="text/javascript"></script>
	<script src="~/js/jquery.validate.js" type="text/javascript"></script>
	<script src="~/js/jquery.bgiframe.js" type="text/javascript"></script>
	<script src="~/xheditor/xheditor-1.2.1.min.js" type="text/javascript"></script>
	<script src="~/xheditor/xheditor_lang/zh-cn.js" type="text/javascript"></script>
	<script src="~/uploadify/scripts/jquery.uploadify.js" type="text/javascript"></script>

	<!-- svg图表  supports Firefox 3.0+, Safari 3.0+, Chrome 5.0+, Opera 9.5+ and Internet Explorer 6.0+ -->
	<script type="text/javascript" src="~/chart/raphael.js"></script>
	<script type="text/javascript" src="~/chart/g.raphael.js"></script>
	<script type="text/javascript" src="~/chart/g.bar.js"></script>
	<script type="text/javascript" src="~/chart/g.line.js"></script>
	<script type="text/javascript" src="~/chart/g.pie.js"></script>
	<script type="text/javascript" src="~/chart/g.dot.js"></script>

	<script src="~/js/dwz.core.js" type="text/javascript"></script>
	<script src="~/js/dwz.util.date.js" type="text/javascript"></script>
	<script src="~/js/dwz.validate.method.js" type="text/javascript"></script>
	<script src="~/js/dwz.barDrag.js" type="text/javascript"></script>
	<script src="~/js/dwz.drag.js" type="text/javascript"></script>
	<script src="~/js/dwz.tree.js" type="text/javascript"></script>
	<script src="~/js/dwz.accordion.js" type="text/javascript"></script>
	<script src="~/js/dwz.ui.js" type="text/javascript"></script>
	<script src="~/js/dwz.theme.js" type="text/javascript"></script>
	<script src="~/js/dwz.switchEnv.js" type="text/javascript"></script>
	<script src="~/js/dwz.alertMsg.js" type="text/javascript"></script>
	<script src="~/js/dwz.contextmenu.js" type="text/javascript"></script>
	<script src="~/js/dwz.navTab.js" type="text/javascript"></script>
	<script src="~/js/dwz.tab.js" type="text/javascript"></script>
	<script src="~/js/dwz.resize.js" type="text/javascript"></script>
	<script src="~/js/dwz.dialog.js" type="text/javascript"></script>
	<script src="~/js/dwz.dialogDrag.js" type="text/javascript"></script>
	<script src="~/js/dwz.sortDrag.js" type="text/javascript"></script>
	<script src="~/js/dwz.cssTable.js" type="text/javascript"></script>
	<script src="~/js/dwz.stable.js" type="text/javascript"></script>
	<script src="~/js/dwz.taskBar.js" type="text/javascript"></script>
	<script src="~/js/dwz.ajax.js" type="text/javascript"></script>
	<script src="~/js/dwz.pagination.js" type="text/javascript"></script>
	<script src="~/js/dwz.database.js" type="text/javascript"></script>
	<script src="~/js/dwz.datepicker.js" type="text/javascript"></script>
	<script src="~/js/dwz.effects.js" type="text/javascript"></script>
	<script src="~/js/dwz.panel.js" type="text/javascript"></script>
	<script src="~/js/dwz.checkbox.js" type="text/javascript"></script>
	<script src="~/js/dwz.history.js" type="text/javascript"></script>
	<script src="~/js/dwz.combox.js" type="text/javascript"></script>
	<script src="~/js/dwz.print.js" type="text/javascript"></script>
	<script src="~/js/longpolling.js" type="text/javascript"></script>
	<!-- 可以用dwz.min.js替换前面全部dwz.*.js (注意：替换是下面dwz.regional.zh.js还需要引入)
	<script src="bin/dwz.min.js" type="text/javascript"></script>
	-->
	<script src="~/js/dwz.regional.zh.js" type="text/javascript"></script>
	<script type="text/javascript">
		$(function () {
			DWZ.init("dwz.frag.xml", {
				loginUrl: "/Home/DialogLogin/", loginTitle: "登录",	// 弹出登录对话框
				//		loginUrl:"login.html",	// 跳到登录页面
				statusCode: { ok: 200, error: 300, timeout: 301 }, //【可选】
				pageInfo: { pageNum: "pageNum", numPerPage: "numPerPage", orderField: "orderField", orderDirection: "orderDirection" }, //【可选】
				keys: { statusCode: "statusCode", message: "message" }, //【可选】
				ui: { hideMode: 'offsets' }, //【可选】hideMode:navTab组件切换的隐藏方式，支持的值有’display’，’offsets’负数偏移位置的值，默认值为’display’
				debug: false,	// 调试模式 【true|false】
				callback: function () {
					initEnv();
					$("#themeList").theme({ themeBase: "themes" }); // themeBase 相对于index页面的主题base路径
				}
			});
			$("#assw").click(function () {
				var a = "1";
				if ($("#assw").prop('checked')) {
					a = "0";
				}
				$.ajax({
					url: "/Home/Config1?validDriverEnabled=" + a + "&dd=" + Math.random(),
					cache: false,
					success: function () {
						
					},
					error: function () {
						
					}
				});

			});
		});
		
	</script>
</head>
<body scroll="no">
	<div id="layout">
		<div id="header">
			<div class="headerNav">
				@*                <a class="logo" href="http://j-ui.com">标志</a>*@
				<ul class="nav">
					@*                    <li id="switchEnvBox">*@
					@*                        <a href="javascript:">（<span>北京</span>）切换城市</a>*@
					@*                        <ul>*@
					@*                            <li><a href="/">北京</a></li>*@
					@*                            <li><a href="sidebar_2.html">上海</a></li>*@
					@*                            <li><a href="sidebar_2.html">南京</a></li>*@
					@*                            <li><a href="sidebar_2.html">深圳</a></li>*@
					@*                            <li><a href="sidebar_2.html">广州</a></li>*@
					@*                            <li><a href="sidebar_2.html">天津</a></li>*@
					@*                            <li><a href="sidebar_2.html">杭州</a></li>*@
					@*                        </ul>*@
					@*                    </li>*@
					@*                    <li><a href="https://me.alipay.com/dwzteam" target="_blank">捐赠</a></li>*@
					@*                    <li><a href="changepwd.html" target="dialog" width="600">设置</a></li>*@
					@*                    <li><a href="http://www.cnblogs.com/dwzjs" target="_blank">博客</a></li>*@
					@*                    <li><a href="http://weibo.com/dwzui" target="_blank">微博</a></li>*@
					<li>@Html.ActionLink("退出", "Logout", "Home")")</li>
				</ul>
				<ul class="themeList" id="themeList">
					<li theme="default"><div class="selected">蓝色</div></li>
					<li theme="green"><div>绿色</div></li>
					<!--<li theme="red"><div>红色</div></li>-->
					<li theme="purple"><div>紫色</div></li>
					<li theme="silver"><div>银色</div></li>
					<li theme="azure"><div>天蓝</div></li>
				</ul>
			</div>
			<!-- navMenu -->

		</div>
		<div id="leftside">
			<div id="sidebar_s">
				<div class="collapse">
					<div class="toggleCollapse"><div></div></div>
				</div>
			</div>
			<div id="sidebar">
				<div class="toggleCollapse"><h2>主菜单</h2><div>收缩</div></div>
				<div class="accordion" fillspace="sidebar">
					<div class="accordionHeader">
						<h2><span>Folder</span>主菜单</h2>
					</div>
					<div class="accordionContent">
					    <ul class="tree treeFolder">
					        @if (ViewBag.userRole=="agent")
					        {
                                <li>
					            <a>订单管理</a>
					            <ul>
					                <li><a href="Order/AgentOrderList" target="navTab" reloadflag="1" rel="List" title="订单列表">订单列表</a></li>
					            </ul>
					            </li>
					        }
					        else
					        {
					            <li>
					            <a>认证管理</a>
					            <ul>
					                @*<li><a href="#" onclick="ShowMessage()" target="" title="货主列表">弹消息</a></li>*@
					                <li><a href="Valid/Drivers" target="navTab" reloadflag="1" rel="Drivers" title="车主列表">车主列表</a></li>
					                <li><a href="Valid/Customers" target="navTab" reloadflag="1" rel="Customers" title="货主列表">货主列表</a></li>
					                @*<li><a href="Route/Add" target="navTab" reloadflag="1" rel="Add" title="添加订单">添加线路</a></li>
									<li><a href="Route/DriverRoute" target="navTab" reloadflag="1" rel="Add" title="添加订单">线路和车主关联</a></li>*@
					            </ul>
					        </li>
					        <li>
					            <a>订单管理</a>
					            <ul>
					                <li><a href="Order/List" target="navTab" reloadflag="1" rel="List" title="订单列表">订单列表</a></li>
					                <li><a href="Order/Add" target="navTab" reloadflag="1" rel="Add" title="添加订单">添加订单</a></li>
					                <li><a href="Order/NoResponseList" target="navTab" reloadflag="1" rel="NoResponseList" title="未响应订单">未响应订单</a></li>
					            </ul>
					        </li>
					        <li>
					            <a>数据统计</a>
					            <ul>
					                <li><a href="Statistics/Area" target="navTab" reloadflag="1" rel="Area" title="区域统计">区域统计</a></li>
					                <li><a href="Statistics/Activity" target="navTab" reloadflag="1" rel="Activity" title="用户活跃度">用户活跃度</a></li>
					                <!--<li><a href="Statistics/Introduce" target="navTab" reloadflag="1" rel="Introduce" title="推荐群组统计">推荐群组统计</a></li>-->
					            </ul>
					        </li>
                             <li>
                                 <a>线路管理</a>
                                 <ul>
                                     <li><a href="Route/AreaAdd" target="navTab" reloadflag="1" rel="AreaAdd" title="区域添加">区域添加</a></li>
                                     <li><a href="Route/AreaList" target="navTab" reloadflag="1" rel="AreaList" title="区域管理">区域管理</a></li>
                                     <li><a href="Route/Add" target="navTab" reloadflag="1" rel="Add" title="线路添加">线路添加</a></li>
                                     <li><a href="Route/DriverRoute" target="navTab" reloadflag="1" rel="DriverRoute" title="车主路线管理">车主路线管理</a></li>
                                 </ul>
                             </li>
					        }
					        
					    </ul>
					</div>
				</div>
			</div>
		</div>
		<div id="container">
			<div id="navTab" class="tabsPage">
				<div class="tabsPageHeader">
					<div class="tabsPageHeaderContent">
						<!-- 显示左右控制时添加 class="tabsPageHeaderMargin" -->
						<ul class="navTab-tab">
							<li tabid="main" class="main"><a href="javascript:;"><span><span class="home_icon">首页</span></span></a></li>
						</ul>
					</div>
					<div class="tabsLeft">left</div><!-- 禁用只需要添加一个样式 class="tabsLeft tabsLeftDisabled" -->
					<div class="tabsRight">right</div><!-- 禁用只需要添加一个样式 class="tabsRight tabsRightDisabled" -->
					<div class="tabsMore">more</div>
				</div>
				<ul class="tabsMoreList">
					<li><a href="javascript:;">首页</a></li>
				</ul>
				<div class="navTab-panel tabsPageContent layoutBox">
				    <div class="page unitBox">
				        @if (ViewBag.userRole == "admin")
				        {
				            <div class="alertInfo" style="height: 0px;">
				                @*                                <p><a href="https://code.csdn.net/dwzteam/dwz_jui/tree/master/doc" target="_blank" style="line-height:19px"><span>DWZ框架使用手册</span></a></p>*@
				                @*                                <p><a href="http://pan.baidu.com/s/18Bb8Z" target="_blank" style="line-height:19px">DWZ框架开发视频教材</a></p>*@
				                @*                                <p><a href="http://pan.baidu.com/s/18Bb8Z" target="_blank" style="line-height:19px">DWZ框架开发视频教材</a></p>*@
				                <p></p>
				                <p></p>
				                <p></p>
				                @if (@ViewBag.DriverValidCount > 0)
				                {
				                    <p style="font-size: 18px;">
				                        待审核信息：<a href="Valid/Drivers?valid=0" target="navTab" reloadflag="1" rel="Drivers" title="车主列表"><span style="color: red; font-size: 30px">@ViewBag.DriverValidCount</span></a> 条
				                    </p>
				                }
				                </div>
                                <div class="accountInfo" style="height: 100px;">
				            
				                <div class="left" style="height: 100px;">
				                    <p>
				                        <span>统计信息</span>
				                    </p>
				                    <p>
				                        <span style="margin-left: 10px">货主：<span style="color: red;">@ViewBag.CustomCount</span>(今天:@ViewBag.CustomCount1) 个</span>
				                        <span style="margin-left: 10px">车主：<span style="color: red;">@ViewBag.DriverCount</span>(今天：@ViewBag.DriverCount1) 个</span>
				                        <span style="margin-left: 10px">订单：<span style="color: red;">@ViewBag.OrderCount</span>(今天：@ViewBag.OrderCount1) 个</span>
				                        <span style="margin-left: 10px">订金额：<span style="color: red;">@ViewBag.OrderPrice</span>(今天：@ViewBag.OrderPrice1) 元</span>
				                    </p>
				                </div>
				            </div>
				        }
				        
				        <div class="pageFormContent">
				            @*<div class="unit"><input type="checkbox"  id="assw" @if (ViewBag.ValidDriverEnabled == 0)
								 {
									 @Html.Raw("checked=\"checked\"")
								 }
								/> <label for="assw">车主验证后能才收到推送信息</label></div>*@
                        @if (ViewBag.userRole == "admin")
                        {
                          <div class="tabs">
				                <div class="tabsHeader">
				                    <div class="tabsHeaderContent">
				                        <ul>
				                            <li class="selected"><a href="#"><span>当天</span></a></li>
				                            <li><a href="#"><span>本周</span></a></li>
				                            <li><a href="#"><span>本月</span></a></li>
				                            <li><a href="#"><span>本年度</span></a></li>
				                        </ul>
				                    </div>
				                </div>
				                <div class="tabsContent" style="height: 150px;">
				                    <!--天统计-->
				                    <div>
				                        <span style="margin-left: 10px">货主：@ViewBag.CustomCount1 个</span>
				                        <span style="margin-left: 10px">车主：@ViewBag.DriverCount1 个</span>
				                        <span style="margin-left: 10px">订单：@ViewBag.OrderCount1 个</span>
				                        <span style="margin-left: 10px">订金额：@ViewBag.OrderPrice1 元</span>
				                    </div>
				                    <!--周统计-->
				                    <div>
				                        <table class="table" width="100%">
				                            <thead>
				                            <tr>
				                                <th width="120">日期</th>
				                                <th width="120">订单个数</th>
				                                <th width="120">订单金额</th>
				                                <th width="120">车主个数</th>
				                                <th width="120">货主个数</th>
				                            </tr>
				                            </thead>
				                            <tbody>
				                            @foreach (var item in @ViewBag.WeekCountData)
				                            {
				                                <tr target="sid_user" rel="@item.createDate">
				                                    <td>@item.createDate</td>
				                                    <td>@item.totalCount</td>
				                                    <td>@item.totalPrice.ToString() 元</td>
				                                    <td>@item.driverCount</td>
				                                    <td>@item.customerCount</td>
				                                </tr>
				                            }
				                            </tbody>
				                        </table>
				                    </div>
				                    <!--月统计-->
				                    <div>
				                        <table class="table" width="100%">
				                            <thead>
				                            <tr>
				                                <th width="120">日期</th>
				                                <th width="120">订单个数</th>
				                                <th width="120">订单金额</th>
				                                <th width="120">车主个数</th>
				                                <th width="120">货主个数</th>
				                            </tr>
				                            </thead>
				                            <tbody>
				                            @foreach (var item in @ViewBag.MonthCountData)
				                            {
				                                <tr target="sid_user" rel="@item.createDate">
				                                    <td>@item.createDate</td>
				                                    <td>@item.totalCount</td>
				                                    <td>@item.totalPrice.ToString() 元</td>
				                                    <td>@item.driverCount</td>
				                                    <td>@item.customerCount</td>
				                                </tr>
				                            }
				                            </tbody>
				                        </table>

				                    </div>
				                    <!--年统计-->
				                    <div>
				                        <table class="table" width="100%">
				                            <thead>
				                            <tr>
				                                <th width="120">日期</th>
				                                <th width="120">订单个数</th>
				                                <th width="120">订单金额</th>
				                                <th width="120">车主个数</th>
				                                <th width="120">货主个数</th>
				                            </tr>
				                            </thead>
				                            <tbody>
				                            @foreach (var item in @ViewBag.YearCountData)
				                            {
				                                <tr target="sid_user" rel="@item.createDate">
				                                    <td>@item.createDate</td>
				                                    <td>@item.totalCount</td>
				                                    <td>@item.totalPrice.ToString() 元</td>
				                                    <td>@item.driverCount</td>
				                                    <td>@item.customerCount</td>
				                                </tr>
				                            }
				                            </tbody>
				                        </table>
				                    </div>
				                </div>
				                <div class="tabsFooter">
				                    <div class="tabsFooterContent"></div>
				                </div>
				            </div>
                        }
				            

				        </div>

				        @*                      <div style="width:230px;position: absolute;top:60px;right:0" layouth="80">
							</div>*@
				    </div>

				</div>
			</div>
		</div>
	</div>
	<div id="footer"></div>
</body>
</html>