﻿@model HuoYunWeb.Models.Admin

@{
    Layout = null;
}
@**@
@*<!DOCTYPE html>*@
@**@
@*<html>*@
@*    <head>*@
@*        <meta name="viewport" content="width=device-width" />*@
@*        <title></title>*@
@*    </head>*@
@*    <body>*@
@*        <div>*@
@*            <form method="POST" action="/Home/DialogLogin/" onsubmit="return validateCallback(this, dialogAjaxDone)">*@
@*                <input type="text" name="Account" value="@Model.Account" />*@
@*                <input type="password" name="Password" value="@Model.Password" />*@
@*                <input type="submit" value="登陆" />*@
@*                <span style="color: red">@ViewBag.ErrorMessage</span>*@
@*            </form>*@
@*        </div>*@
@*    </body>*@
@*</html>*@
<div class="pageContent" style="margin:20px auto;text-align:center; ">
	<form method="post" action="~/Home/WebLogin/" class="pageForm">
		<div class="pageFormContent" layouth="58" >
			<div style="border:solid 1px #808080;width:400px; padding:10px;margin:0 auto">
                 <div style="margin-bottom:10px;">乡间货的后台管理</div>
				<div class="unit">
					<label>用户名：</label>
					<input type="text" name="Account" size="30" class="required" value="@Model.Account" />
				</div>
				<div></div>
				<div class="unit" style="margin-top:10px">
					<label>&nbsp;密码：</label>
					<input type="password" name="Password" size="30" class="required" style="margin-left:10px" />
				</div>
				<div style="margin-top:10px">
					<button type="button">取消</button>
					<button type="submit">提交</button>
					<label style="color:red;">@ViewBag.ErrorMessage</label>
				</div>

			</div>
		</div>

	</form>

</div>

